body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 600px;
    padding-bottom: 100px;
}

.purple-color{
    font-size: 40px;
    font-weight: 700;
    color: #ec4c7a;
    
}
h2{
    font-size: 25px;
    font-weight: 400;
}
p{
    text-align: justify;
    padding-bottom: 20px;
}
.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4e8d, #ffaf2b);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

/* header-section background image */
.header-part{
    background:linear-gradient(rgba(121, 120, 120, 0.5) , rgba(206, 204, 204, 0.5)), url("/images/bg.jpg") ;
    /* background-image: url("/images/bg.jpg"); */
    background-repeat: no-repeat; 
    background-size: cover;
}
.half-width{
    
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 100px;
    float: left;
}
.half-width img{
    width: 100%;
  
}

/* biography-section  */
.biography-part{
    background:linear-gradient(rgba(206, 204, 204, 0.5),rgba(121, 120, 120, 0.5) ), url("/images/bio-bg.jpg") ;
    background-repeat: no-repeat; 
    background-size: contain;
}
.half-bio{
    margin-top: 170px;
}
.cv-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #4f70e0, #22c4df);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}